.card-stock {
  position: absolute;

  padding: 5px;
  width: 110px;
  height: 150px;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
}

.card-stock_back {
  background-color: #184a97;
  background-image: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.14) 0, rgba(255, 255, 255, 0.14) 6px, transparent 6px, transparent 12px);
}
